@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');



.navigation {
    display: flex;
    height: 50px;
    background: #FCD12A;
    padding: 2.5em;
    font-family: 'Montserrat', sans-serif;
}

#myLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4em;
    transition: transform 1s;
}

#myLogo:hover {
    transform: rotate(-360deg);
}

#myLogo:hover {
    transform: rotate(360deg);
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: flex-start;
    padding: 20px;
}