@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');



.navigation {
    display: flex;
    height: 50px;
    background: #FCD12A;
    padding: 2.5em;
    font-family: 'Montserrat', sans-serif;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4em;
}

a {
    text-decoration: none;
    color: black;
}